<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
 
   <bean id="cohorts" class="cohorts.Cohorts">
   <constructor-arg value="001" type="int" />
   <constructor-arg value="Prasad" type ="String"/>
   <constructor-arg value="Prasad@gmail.com" type="String"/>
   <constructor-arg value="9591240724" type="Long"/>
   </bean>
   <bean id="dxc" class="cohorts.dxc">
   <constructor-arg value="002" type="int" />
   <constructor-arg value="Akanksha" type ="String"/>
   <constructor-arg value="Akankasha@gmail.com" type="String"/>
   <constructor-arg value="9591240724" type="Long"/>
   </bean>
</beans>